.shop-container{
    background-color: white;
    display: flex;
    padding-top: 20px;
  }
.product-container{
    width: 70%;
    margin-left: 40px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
    
    }